@import "~bootstrap/scss/bootstrap";

body {
    background-color:#5c0808;
}

nav {
    background-color: #d41c1c;
    font-family: "Roboto", sans-serif;
    box-shadow: 0 0 5px #45A29E;
    
    a{
        color:#45A29E !important;
        &:hover {
            color:#66FCF1 !important;
        }
    }
}

#navbarNavAltMarkup {
    justify-content: flex-end;
}

.hero {
    background-image: url("../images/bg.jpg");
    box-shadow: 0 0 5px #45A29E;
    background-repeat: no-repeat;
    width: 100vw;
    background-size: cover;
    background-position: center;
    height: 90%;
    .hero-inner {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding: 2rem 1rem 4rem 1rem;
    }
    .hero-title {
        max-width: 800px;
        color: #45A29E;
        h1 {
            font-weight: 700;
            font-family: "Montserrat", sans-serif;
            font-size: 3.75rem;
            letter-spacing: 0.02em;
        }
    }
    .hero-text {
        max-width: 650px;
        margin-bottom: 3rem;
        color: #C5C6C7;
    }
    .hero-btn {
        .btn-info {
            font-weight: 600;
        }
    }
}

#filter {
    max-width: 1200px;
    padding: 3rem 1rem 1rem 1rem;
    margin-left: auto;
    margin-right: auto;
    
    .filter-headline, h3 {
        padding-bottom: 1rem;
        font-weight: 700;
        font-size: 2.25rem;
        letter-spacing: 0.02em;
        color: #45A29E; 
    }
    .filter-wrapper {
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: baseline;
        align-items: baseline;
        border-bottom: 1px solid #66FCF1;
        padding-bottom: 20px;
    }
}

.login-form {
    color: white;
}
